// Header variables
$header-height: 80px;

// Footer variables
$footer-height: 80px;

// Show view wrapper variables
$show-view-wrapper-height: 800px;

html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}