// Margin
$margin-small: 8px;
$margin-medium: 12px;
$margin-large: 24px;

// Padding
$padding-small: 8px;
$padding-medium: 12px;
$padding-large: 24px;

// Border
$border-radius: 2px;
$border-width: 1px;

// Button
$button-height: 32px;
$button-width: 128px;

// Select
$select-height: 32px;
$select-width: 256px;