.nav-filter-container {
    position: sticky;
    top: $header-height + $padding-large;

    display: flex;
    flex-direction: column;

    padding: $padding-large;

    border: $border-width solid $gray;
    border-radius: $border-radius;

    .nav-filter-label {
        @include font-family(regular, small);
    }

    .nav-filter-select {
        margin: $margin-medium 0;
    }

    .nav-filter-button {
        align-self: flex-end;

        margin-top: $margin-medium;
    }
}