header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $header-height;
    min-height: $header-height;

    padding: 0 $padding-large;

    background-color: $white;

    border-bottom: $border-width solid $gray;

    z-index: 10;

    .home-page-logo {
        cursor: pointer;
    }

    .header-nav {
        display: flex;

        .nav-item {
            @include font-family(regular, medium);

            cursor: pointer;

            &:not(:last-child) {
                margin-right: $margin-large;
             }

             a {
                color: $black;

                text-decoration: none;
             }
        }
    }
}