// Font families
$primary-font-family: 'Roboto', sans-serif;

// Font sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-x-large: 32px;

// Line Height
$line-height: 24px;

// Font family mixin
@mixin font-family($type, $size) {
    font-family: $primary-font-family;

    @if ($type == 'bold') {
        font-weight: 700;
    } @else {
        font-weight: 400;
    }

    @if ($size == 'x-large') {
        font-size: $font-size-x-large;
    } @else if ($size == 'large') {
        font-size: $font-size-large;
    } @else if ($size == 'medium') {
        font-size: $font-size-medium;
    } @else if ($size == 'small') {
        font-size: $font-size-small;
    } @else {
        font-size: $font-size-small;
    }
}